*.class

# Package Files #
*.war
*.ear
.DS_Store
test-output/
build/classes/
build/dependency-cache/
build/jacoco/
build/resources/
build/sonar/
build/test-results/
build/tmp/

bin/
.gradle/
*.bin



*.JPG

*.JPG

build.gradle.local
